body{
    font-family: "Source Code Pro", monospace;
    font-size: 12pt;
    overflow-x: hidden;
    scrollbar-width: 0px;
    background-color: #1c1b22;
    color: rgb(219, 219, 219);
}
html::-webkit-scrollbar {
    width: none;
}
a{
    color: #385e85;
}
a:active{
    color: purple;
}
a:visited{
    color: rgb(179, 19, 179);
}
dialog{
    background-color: #1c1b22;
    color: rgb(219, 219, 219);
}
dialog::backdrop{
    background-color: rgba(219, 219, 219, 0.1);
}
.center-out{
    display: flex;
    place-content: center;
}
.pi-out{
    inline-size: 100vw;
    overflow-wrap: break-word;
    letter-spacing: 10px;
    width: 80%;
}
.cool-links{
    text-align: center;
}
.header, .subheader{
    text-align: center;
    margin: 0;
}
input{
    background-color: #1c1b22;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 2px;
}
button{
    font-size: larger;
    font-family: "Source Code Pro", monospace;
}
.theme-toggle{
    position: fixed;
    top: 5px;
    right: 5px;
    font-size: 12pt;
    width: min-content;
    height: min-content;
}
.theme-toggle-img{
    width: 30px;
}
@media screen and (max-width: 800px){
    .link-divider{
        display: none;
    }
    .cool-links{
        display: grid;
    }
    a{
        padding: 5px;
    }
}